<div class="jumbotron text-center">
  <h1>Pseudo Football Manager</h1>
  <p class="lead">Welcome to the <strong>Pseudo Football Manager</strong> Application</p>
  <div>
    <a routerLink="/register" class="btn btn-primary">Register</a>
    <a routerLink="/login" class="btn btn-default">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://image.flaticon.com/icons/svg/417/417746.svg" alt="placeholder image" width="140" height="140">
      <div class="caption">
        <h3>Administrator</h3>
        <p>Administrator is the FIFA President. He has the final authority to accept or reject a bid placed by a manager for an opposte team's player. There is only one Administrator in the whole application.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417768.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Managers</h3>
        <p>Managers manage the players of their respective teams. Managers can increase the size and strength of their teams by bidding for players of the opposite team. There is only one Manager per football team.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/417/417751.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Players</h3>
        <p>Players form the football teams. When any opposite manager bids for a player, it depends on the player whether to accept the bid or not. If the player accepts the bid, he gets transferred to the team whose manager had bid for him.</p>
      </div>
    </div>
  </div>

</div>